html
{
    scroll-behavior: smooth;
}

body
{
    font-family: Arial, Helvetica, sans-serif;

    background-color: #444;
}

.container
{
    padding: 20px;
    
}
h1
{
    font-size: 50px;
}

#container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444;
    border-radius: 5px;

}

/*Estilos para o menu de navegação*/

.menu_blue, .menu_green, .menu_red
{
    margin-bottom: 20px;
}

.menu_blue a, .menu_green a, .menu_red a
{
    margin-right: 15px;
    text-decoration: none;
    color: #000;
    background-color: #003366;
    padding: 10px;
    border-radius: 20px;
}

.menu_green a
{
    background-color:#479b60;
}

.menu_red a
{
    background-color: #960000;
}
.menu_blue a:hover, .menu_green a:hover, .menu_red a:hover
{
    text-decoration: underline;
    background-color: black;
    color: white;
}

.menu_azul a img, .menu_green a img
{
    width: 80px;
    height: 80px;
}

.image_text_wrapper
{
    display: flex;
    gap: 20px;
    align-items: start;
    font-size: 20px;
}

img
{
    width: 30%;
    border-radius: 20px;
}

.text_content
{
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-left: 20px;
    margin-left: 20px;
}

p
{
    text-align: justify;
}

/*Estilos para a tabela*/

table   
{
    width: 100%;
    border: 1px solid black;
    margin-top: 20px;
}

.table table
{
    border: 1px solid black;
}



caption
{
    font-weight: bold;
    margin-bottom: 10px;
}

thead
{
    background-color: #292929;
    color: #fff;
}

th, td
{
    border: 1px solid #000;
    padding: 8px;
    font-size: 20px;
}

tbody tr:nth-child(even)
{
    background-color: rgba(229, 229, 229, 0.5);
}

tbody tr:hover
{
    background-color: #fff;
    color: black;
}

.table
tbody tr :hover
{
    background-color: whitesmoke;
}

footer
{
    background-color: #444;
    margin-top: 20px;
}

.social_links,a
{
    margin-right: 10px;
}

.social_links i
{
    font-size: 24px;
    color: white;
    margin-top: 15px;
}

#topo
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#topo a
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}

#topo a:hover
{
    color: white;
}

.bg_green
{
    background-color: #317746;
    color:  black;
}

.bg_blue
{
    background-color: #003366;
}

.bg_red 
{
    background-color: #960000;
}

